.app {
  background-color: #F7F7F7;
  box-sizing: border-box;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  padding: 10px;
}

.app__pane {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .05);
  overflow: hidden;
}
